=begin
{{> api_info}}
=end

# Pre-define base modules
'{{moduleName}}'.split('::').reduce(Object) do |previous, mod|
  if previous.const_defined?(mod.to_sym)
    previous.const_get(mod.to_sym)
  else
    previous.const_set(mod.to_sym, Module.new)
  end
end

module {{moduleName}}
  VERSION = '{{gemVersion}}'
end
